<div class="spinner" *ngIf="isSpinner">
    <mat-spinner></mat-spinner>
</div>

<div class="box">
    <h2>{{ title }}</h2>
    <div class="profile-container">
        <div class="icon">
            <mat-icon class="user-icon">account_circle</mat-icon>
        </div>
        <form class="form" [formGroup]="updateUserForm" appearance="outline">
            <span>Nom d'utilisateur</span>
            <span class="line" [style]="{'border' : !editMode ? '1px solid blueviolet' : 'none'}">
                <mat-form-field class="form-field">
                    <input #usernameField matInput type="text" formControlName="username" [readonly]="!editMode"
                        required>
                </mat-form-field>
            </span>
            <span>Prénom</span>
            <span class="line" [ngStyle]="{border : !editMode ? '1px solid blueviolet' : 'none'}">
                <mat-form-field class="form-field">
                    <input matInput type="text" formControlName="firstName" [readonly]="!editMode" required>
                </mat-form-field>
            </span>
            <span>Nom</span>
            <span class="line" [style]="{'border' : !editMode ? '1px solid blueviolet' : 'none'}">
                <mat-form-field class="form-field">
                    <input matInput type="text" formControlName="lastName" [readonly]="!editMode" required>
                </mat-form-field>
            </span>
            <span>Adresse e-mail</span>
            <span class="line" [style]="{'border' : !editMode ? '1px solid blueviolet' : 'none'}">
                <mat-form-field class="form-field">
                    <input matInput type="text" formControlName="email" [readonly]="!editMode" required>
                </mat-form-field>
            </span>
            <!-- <mat-form-field>
                <mat-label>Mot de passe</mat-label>
                <div class="password">
                    <input matInput [type]="showPass ? 'text': 'password'" formControlName="password" autocomplete="on"
                        required>
                    <mat-icon (click)="showPass = !showPass">{{showPass ? 'close' : 'remove_red_eye' }}</mat-icon>
                </div>
            </mat-form-field> -->
        </form>
        <div class="update-buttons">
            @if (editMode) {
            <button class="reset-btn" (click)="resetForm(); toggleMode()">Annuler</button>
            }

            <button class="edit-btn" (click)="editMode ? updateUser(userSignal().id)  : toggleMode()"
                (click)="editMode ? usernameField.focus() : ''">
                {{ editMode ? 'Enregister' : "Modifier"}}</button>
        </div>
    </div>
    <div class="delete-container" (click)="logoutDialog(userSignal().id)"
        (keydown.enter)="logoutDialog(userSignal().id)">
        <div class="delete">Supprimer votre compte</div>
    </div>
</div>