@import '../../var.scss';

::root {
    --field-background-color: $mypurple;
}

.box {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-container,
.delete-container {
    box-shadow: $myShadow;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 800px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: var(--field-background-color) !important;
    border-radius: 20px;
    font-size: 25px;
}

::ng-deep .mat-mdc-form-field-focus-overlay {
    background: transparent !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--enable) {
    background-color: var(--field-background-color) !important;
    border-radius: 20px;
    font-size: 25px;
}

::ng-deep mdc-text-field--filled:not(.mdc-text-field--disabled) {
    height: 30px !important;
}

::ng-deep .mdc-text-field--no-label:not(.mdc-text-field--textarea) .mat-mdc-form-field-input-control.mdc-text-field__input,
.mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
    text-align: center !important;
}

::ng-deep .mdc-text-field__input {
    color: antiquewhite !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    border-bottom-color: transparent !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
    border-bottom-color: transparent !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-disabled,
::ng-deep .mat-form-field-outline {
    opacity: 0;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
    caret-color: antiquewhite !important;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper,
.mat-mdc-form-field-bottom-align::before {
    height: 0 !important;
}

.profile-container {
    background: $mypurple;

}

span {
    margin-top: 5px;
    color: blueviolet;
}

.line {
    width: 100%;
    border-radius: 20px;
}

.delete-container {
    cursor: pointer;
    background: rgba(125, 0, 0);
    padding-bottom: 20px;
    padding-top: 20px;
}

.icon {
    margin-top: 20px;
}

.edit-icon {
    cursor: pointer;
    width: 35px;
    height: 30px;
    text-align: center;
    vertical-align: sub;
    margin-left: 10px;
    padding-top: 5px;
    border-radius: 50px;
}

.form {
    display: flex;
    flex-direction: column;
}

.user-icon {
    color: antiquewhite;
    width: 200px;
    height: 200px;
    font-size: 200px;
}

// .username {
//     background: var(--field-background-color);
// }

.form-field,
.delete {
    margin-bottom: 10px;
    border-radius: 20px;
    font-size: 30px;
    color: antiquewhite;
    width: 500px;
    text-align: center;
}

.update-buttons {
    width: 80%;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.reset-btn {
    color: $mypurple;
}

.edit-btn {
    background: rgba(125, 0, 0);
}

button {
    cursor: pointer;
    font-size: large;
    width: 150px;
    height: 30px;
    background: chartreuse;
    color: antiquewhite;
    border: none;
    border-radius: 25px;
}