@import '../../var.scss';

.box {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-container,
.delete-container {
    box-shadow: $myShadow;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 800px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.profile-container {
    background: $mypurple;

}

.delete-container {
    background: rgb(125, 0, 0);
    padding-bottom: 20px;
    padding-top: 20px;
    cursor: pointer;

}

.icon {
    margin-top: 20px;
}

.edit-icon {
    background: green;
    width: 30px;
    border-radius: 50px;
    text-align: center;
    height: 30px;
}

.form {
    display: flex;
    flex-direction: column;
}

.user-icon {
    color: antiquewhite;
    width: 200px;
    height: 200px;
    font-size: 200px;
}

.username,
.delete {
    font-size: 30px;
    color: antiquewhite
}

.username {
    margin-bottom: 30px;
}