@if (isSpinner) {
<app-spinner></app-spinner>
}

@if (showPass) {
<app-password-management [userToUpdate]="userToUpdate"
    (backToProfil)="eventFromPasswordManagement()"></app-password-management>
} @else {
<div class="container">
    <h2>{{ title }}</h2>
    @if (isAdminEdit) {
    <div class="closebtn-div">
        <button mat-mini-fab class="closebtn" (click)="cancel(); close()">
            <mat-icon mat-button>close</mat-icon>
        </button>
    </div>
    }
    <div class="profile-container">
        <div class="user-icon-div">
            @if (authService.userSignal().userIcon) {
            <img class="user-icon" [src]="authService.userSignal().userIcon" />
            } @else {
            <mat-icon class="user-icon">account_circle</mat-icon>
            }
            <div class="edit-icon-btn-div">
                <button mat-mini-fab class="edit-fab-btn" (click)="editUserIcon()">
                    <mat-icon mat-button>edit</mat-icon>
                </button>
            </div>
        </div>
        <form class="form" [formGroup]="updateUserForm" appearance="outline">
            <span>Nom d'utilisateur</span>
            <span class="line" [style]="{'border' : !editMode ? '1px solid blueviolet' : 'none'}">
                <mat-form-field class="form-field">
                    <input #usernameField matInput type="text" formControlName="username" [readonly]="!editMode"
                        required>
                </mat-form-field>
            </span>
            <span>Prénom</span>
            <span class="line" [ngStyle]="{border : !editMode ? '1px solid blueviolet' : 'none'}">
                <mat-form-field class="form-field">
                    <input matInput type="text" formControlName="firstName" [readonly]="!editMode" required>
                </mat-form-field>
            </span>
            <span>Nom</span>
            <span class="line" [style]="{'border' : !editMode ? '1px solid blueviolet' : 'none'}">
                <mat-form-field class="form-field">
                    <input matInput type="text" formControlName="lastName" [readonly]="!editMode" required>
                </mat-form-field>
            </span>
            <span>Adresse e-mail</span>
            <span class="line" [style]="{'border' : !editMode ? '1px solid blueviolet' : 'none'}">
                <mat-form-field class="form-field">
                    <input matInput type="text" formControlName="email" [readonly]="!editMode" required>
                </mat-form-field>
            </span>
            @if (isAdminEdit) {
            <span>Role</span>
            <mat-radio-group class="radio-group" formControlName="role">
                @for (role of roles; track role) {
                <mat-radio-button value="{{ role.value }}">
                    {{ role.label }}
                </mat-radio-button>
                }
            </mat-radio-group>
            }
        </form>

        <div class="update-buttons">
            @if (editMode) {
            <button class="reset-btn" (click)="cancel()">{{ isAdminEdit ? 'Reset' : 'Annuler' }}</button>
            }

            <button class="edit-btn" (click)="editMode ? updateUser()  : toggleMode()"
                (click)="editMode ? usernameField.focus() : ''">
                {{ editMode ? 'Enregister' : "Modifier"}}</button>
        </div>
    </div>
    <div class="delete-container" (click)="changePass()">
        <div class="delete">Changer de mot de passe</div>
    </div>

    <div class="delete-container" (click)="deleteDialog()" (keydown.enter)="deleteDialog()">
        <div class="delete">Supprimer votre compte</div>
    </div>
</div>
}