@import '../../var.scss';

.box {
    width: 40%;
    max-width: 500px;
}

.form {
    display: flex;
    flex-direction: column;
}

input {
    height: 50px;
}

.check-pass {
    color: red;
}

.sign-in-buttons {
    display: flex;
    justify-content: space-evenly;
}

// TODO put this CSS class in global CSS (shared with profil CSS)
.spinner {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.195);
    backdrop-filter: blur(2px);
}

.warn-user-account-not-validated {
    color: $myRed;
    font-size: larger;
    text-align: center;
    margin: 20px;
    padding: 10px;
    border: 2px solid;
}

.warn-user-sent-email {
    color: $myPurple;
    text-align: center;
}

.error {
    color: $myRed;
    font-size: large;
    width: 100%;
    padding: 20px;
    text-align: center;
}

mat-spinner {
    top: 50%;
    left: 47%;
}

.password {
    display: flex;
}