@if (isSpinner) {
    <app-spinner ></app-spinner>
}

<div class="container">
    <h2>{{ title }}</h2>
    <div class="box">
        <form class="form" [formGroup]="isAccountCreation ? createUserForm: signInForm" (ngSubmit)="signIn()">
            <span *ngIf="isAccountCreation">Sera utiliser lors de la connexion</span>
            <mat-form-field>
                <mat-label>Nom d'utilisateur</mat-label>
                <input matInput type="text" formControlName="username" required>
            </mat-form-field>
            @if (isAccountCreation) {
            <mat-form-field>
                <mat-label>Prénom</mat-label>
                <input matInput type="text" formControlName="firstName" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Nom</mat-label>
                <input matInput type="text" formControlName="lastName" required>
            </mat-form-field>
            <span>Un e-mail vous sera envoyez à cette adresse pour <strong>VALIDER</strong> votre inscription</span>
            <mat-form-field>
                <mat-label>Adresse Email</mat-label>
                <input matInput type="text" formControlName="email" required>
            </mat-form-field>
            }
            <mat-form-field>
                <mat-label>Mot de passe</mat-label>
                <div class="password">
                    <input matInput [type]="showPass ? 'text': 'password'" formControlName="password" autocomplete="on"
                        required>
                    <mat-icon (click)="showPass = !showPass">{{showPass ? 'close' : 'remove_red_eye' }}</mat-icon>
                </div>
            </mat-form-field>
            @if (!isAccountCreation) {
            <mat-checkbox formControlName="rememberMe" matTooltip="Cochez cette case pour rester connecté"
                matTooltipPosition="before">Se souvenir
                de moi ?</mat-checkbox>
            }
        </form>
        <div [ngStyle]="{'color': createUserForm.controls.password.touched ? 'red' : 'black'}"
            *ngIf="isAccountCreation">
            <span *ngIf="!createUserForm.controls.password.dirty">Le mot de passe doit contenir :</span>
            <ul>
                <li *ngIf="!createUserForm.getRawValue().password?.match('(?=.*[A-Z])')">
                    Au moins une lettre en majuscule.
                </li>
                <li *ngIf="!createUserForm.getRawValue().password?.match('(?=.*[a-z])')">
                    Au moins une lettre en minuscule.
                </li>
                <li *ngIf="!createUserForm.getRawValue().password?.match('(?=.{8,})')">
                    Au moins 8 caractères.
                </li>
                <li *ngIf="!createUserForm.getRawValue().password?.match('(?=(.*\\W))')">
                    Au moins un caractère spécial.
                </li>
                <li *ngIf="!createUserForm.getRawValue().password?.match('(.*[0-9].*)')">
                    Au moins un chiffre.
                </li>
            </ul>
        </div>
        @if (!isUserAccountValidated) {
            <div class="warn-user-account-not-validated">
                <mat-icon>warning</mat-icon>
                <p>Votre compte n'a pas encore était validé !</p>
                <p>Veuillez vérifier votre boite e-mail et valider votre inscription</p>
                <p>Cliquez sur le bouton pour envoyer un nouvel e-mail de confirmation</p>
                <button (click)="sendValidationEmail('')">Renvoyer</button>
            </div>
        }
        <div class="sign-in-buttons">
            <button (click)="toggleIsAccountCreation()">{{creationOrCancelButton}}</button>

            <button (click)="isAccountCreation ? createAccount() : signIn()"
                (keyup.enter)="isAccountCreation ? createAccount() : signIn()"
                [disabled]="isAccountCreation ? !createUserForm.valid : !signInForm.valid"
                [ngStyle]="{'background': isAccountCreation ? (createUserForm.valid ? 'rgb(65, 29, 127)' : 'rgb(103 58 183 / 33%)') : (signInForm.valid ? 'rgb(65, 29, 127)' : 'rgb(103 58 183 / 33%)')}">
                {{ signInOrCreateButton }}</button>
        </div>
    </div>
</div>