@import '../../var.scss';

.mat-mdc-table {
    background: $myPurple;
    box-shadow: $myShadow;
}

.mat-mdc-header-cell {
    color: antiquewhite;
    text-align: center;
}

::ng-deep .mat-mdc-cell {
    background: antiquewhite !important;
    color: $myPurple !important;
    text-align: center !important;
}

.deleteButton, .editButton {
    background-color: #c6c6c9;
    color: white;
}

.deleteButton:hover {
background-color: red;
}

.editButton:hover {
    background-color: chartreuse;
    }

input {
    width: 100%;
    border: none;
    padding: 0 5px;
    text-align: center;
}