@if (!infoBarService.infoBarSignal().hide) {
<div class="overlay" [@slideBar] [ngStyle]="{
    color: this.infoBarService.infoBarSignal().type === 'MESSAGE' ? '#411d7f' : 'red',
    width: this.infoBarService.infoBarSignal().width,
    height: this.infoBarService.infoBarSignal().height
}">
    @if (this.infoBarService.infoBarSignal().icon) {
    <mat-icon [ngStyle]="{
        'font-size': this.infoBarService.infoBarSignal().iconSize
    }">
        {{ this.infoBarService.infoBarSignal().icon }}
    </mat-icon>
    }
    {{ infoBarService.infoBarSignal().message }}
    @if (this.infoBarService.infoBarSignal().isButtons) {
    <button (click)="allowCookies(true)">J'accepte</button>
    <button (click)="allowCookies(false)">Je refuse</button>
    }
</div>
}