@if (!infoBarService.triggerInfoBar().hide) {
<div class="overlay" [@slideBar] [ngStyle]="{
    color: this.infoBarService.triggerInfoBar().type === 'MESSAGE' ? '#411d7f' : 'red',
    width: this.infoBarService.triggerInfoBar().width,
    height: this.infoBarService.triggerInfoBar().height
}">
    @if (this.infoBarService.triggerInfoBar().icon) {
    <mat-icon>
        {{ this.infoBarService.triggerInfoBar().icon }}
    </mat-icon>
    }
    {{ infoBarService.triggerInfoBar().message }}
</div>
}