@import '../../../../var.scss';

.box {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 370px;
    height: 150px;
    text-align: center;
    color: $myPurple;
    background: antiquewhite
}

.sign-in-buttons {
    display: flex;
    justify-content: space-evenly;

}