@import '../../../../var.scss';

.container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 370px;
    height: 150px;
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    color: $myPurple;
    background: antiquewhite
}

button {
    cursor: pointer;
    width: 150px;
    height: 30px;
    background: $myPurple;
    color: white;
    border: none;
    border-radius: 25px;
}

.sign-in-buttons {
    display: flex;
    justify-content: space-evenly;

}