.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.form-container {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: rgb(0, 0, 116);
  width: 500px;
  height: 700px;
}

// input {
//   margin-top: 50px;
//   height: 25px;
// }

#message {
  width: 400px;
  height: 250px;
  resize: none;
}

// button {
//   margin-top: 20px
// }
form {
  display: flex;
  width: 80%;
  margin: auto;
  flex-direction: column;
}

.mat-mdc-raised-button[disabled] {
  color: #ffffff6a;
  background-color: #6d6d6d79 !important;
}