<div class="box">
  <div class="form-container">
    <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">

      <label for="first-name">Nom </label>
      <input id="first-name" type="text" formControlName="firstName">
    
      <label for="last-name">Prénom </label>
      <input id="last-name" type="text" formControlName="lastName">

      <label for="email">Votre Adresse E-mail </label>
      <input id="email" type="text" formControlName="email">

      <label for="message">Votre Message </label>
      <textarea id="message" type="text" formControlName="message"></textarea>
      
      <button mat-raised-button color="accent" type="submit" [disabled]="!emailForm.valid">Submit</button>
    </form>
  </div>
</div>