mat-label {
    color: antiquewhite;
}

.form-field {
    margin-top: 30px;
}

.password {
    display: flex;
}

.line {
    border: 1px solid blueviolet;
}

.eye {
    cursor: pointer;
    text-align: center;
    color: antiquewhite;
}

.info {
    color: antiquewhite;
}

.wrong-pass {
    color: red;
}

.error {
    text-align: center;
    animation: 0.1s linear 0s infinite alternate slidein;
    animation-iteration-count: 4;
    width: 100%;
}

@keyframes slidein {
    from {
        transform: translateX(-5px);
    }

    to {
        transform: translateX(5px);
    }
}