<div class="container">
    <h2>{{ title }}</h2>
    <div class="profile-container">
        <form class="form" [formGroup]="passUserForm" appearance="outline" autocomplete="off">
            <!-- <span>Mot de passe actuel</span> -->

            <mat-form-field class="form-field">
                <mat-label>Mot de passe actuel</mat-label>
                <div class="password">
                    <input matInput [type]="showPass ? 'text': 'password'" formControlName="oldPassword"
                        name="new-password" id="new-pwd1" required>
                </div>
            </mat-form-field>

            <!-- <span>Nouveau mot de passe</span> -->

            <mat-form-field class="form-field">
                <mat-label>Nouveau mot de passe</mat-label>
                <div class="password">
                    <input matInput [type]="showPass ? 'text': 'password'" formControlName="newPassword"
                        autocomplete="doNotAutoComplete" required>
                </div>
            </mat-form-field>

            <div
                [ngStyle]="{'color': passUserForm.controls.newPassword.touched ? 'red' : '#faebd7', 'display': !passUserForm.controls.newPassword.valid ? 'block' : 'none'}">
                <span *ngIf="!passUserForm.controls.newPassword.dirty">Le nouveau mot de passe doit contenir :</span>
                <ul>
                    <li *ngIf="!passUserForm.getRawValue().newPassword?.match('(?=.*[A-Z])')">
                        Au moins une lettre en majuscule.
                    </li>
                    <li *ngIf="!passUserForm.getRawValue().newPassword?.match('(?=.*[a-z])')">
                        Au moins une lettre en minuscule.
                    </li>
                    <li *ngIf="!passUserForm.getRawValue().newPassword?.match('(?=.{8,})')">
                        Au moins 8 caractères.
                    </li>
                    <li *ngIf="!passUserForm.getRawValue().newPassword?.match('(?=(.*\\W))')">
                        Au moins un caractère spécial.
                    </li>
                    <li *ngIf="!passUserForm.getRawValue().newPassword?.match('(.*[0-9].*)')">
                        Au moins un chiffre.
                    </li>
                </ul>
            </div>

            <mat-form-field class="form-field">
                <mat-label>Confirmer le nouveau mot de passe</mat-label>
                <div class="password">
                    <input matInput [type]="showPass ? 'text': 'password'" formControlName="confirmePassword"
                        autocomplete="doNotAutoComplete" required>
                </div>
            </mat-form-field>
            <div class="eye" (click)="showPass = !showPass">
                <mat-icon style="font-size: 30px;">{{showPass ? 'visibility_off' :
                    'visibility'
                    }}</mat-icon>
            </div>
            @if (isWrongNewPass) {
            <div class="error">
                <p class="wrong-pass">Les mots de passe ne correspondent pas</p>
            </div>
            }
            @if (isNewEqualOldPass) {
            <div class="error">
                <p class="wrong-pass">Le mot de passe actuel et le nouveau mot de passe sont identiques</p>
            </div>
            }
            @if (isConfirmChanges) {
            <div class="error">
                <p class="info">Le mot de passe a été modifié !</p>
                <p class="info">Pensez à utiliser le nouveau mot de passe lors de la prochaine
                    connexion.</p>
            </div>
            }
        </form>
        @if (isFormError) {
        <div class="error">
            <p class="wrong-pass" name="errors" ngDefaultControl [(ngModel)]="errors">{{ errors}}</p>
        </div>
        }
        @if (isWrongUserPassword) {
        <div class="error">
            <p class="wrong-pass">Mot de passe actuel incorect</p>
        </div>
        }
        <div class="update-buttons">
            @if (!isConfirmChanges) {
            <button class="reset-btn" (click)="cancelGoBack()">Annuler</button>
            }

            <button class="edit-btn" (click)="isConfirmChanges ? cancelGoBack() : updateUserPass()">{{isConfirmChanges ?
                'Confirmer' : 'Enregister' }}</button>
        </div>
    </div>

</div>