<div class="container">
    @if (isLoading) {
    <div class="spinner2">Validation en cours
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    } @else if (isValidated || isUserAlredyValidate){
    <div class="validated">
        <p>{{ isUserAlredyValidate ? 'Votre compte a déjà été validé' : 'Votre compte est validé'}}</p>
        <p>Vous pouvez vous connecter !</p>
        <button (click)="continue()">Continuer</button>
    </div>
    } @else {
    <div class="oups">
        <H2>OUPS !</H2>
        <p class="error">La validation a échouée</p>
    </div>
    }
</div>