<p>password-management works!</p>

<div class="container">

    <div class="pass">
        <mat-form-field>
            <mat-label>Mot de passe</mat-label>
            <div class="password">
                <input matInput [type]="showPass ? 'text': 'password'" formControlName="password"
                    autocomplete="on" required>
                <mat-icon (click)="showPass = !showPass">{{showPass ? 'close' : 'remove_red_eye' }}</mat-icon>
            </div>
        </mat-form-field>
    </div>

</div>
