$myPurple: #411d7f;
$myPurpleDim: #5c2eab;
$myRed: rgba(125, 0, 0);
$myDimAntique: rgb(185, 173, 158);
$myShadow: 0px 0px 40px -5px #000000a1;
;
// $myGreen: #00bbbb;
// $timerFive: 5s;
// $maxWidth: 1240px;